# Ignore everything by default
**

# Allow specific files and directories
!Dockerfile
!requirements.txt
!keys/
!transform/
!infra/
!ingest/

# Ignore unnecessary files within allowed directories
keys/*.backup
keys/*.tmp
transform/logs/
transform/target/
transform/dbt_packages/
logs/

# Ignore Python virtual environments
venv/

# Ignore Git files
.git/
.gitignore

# Ignore macOS system files
.DS_Store