# Node.js
node_modules/

# Keys
keys/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Python
venv/
.venv/
env/
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/

# dbt
dbt_packages/
logs/
target/
.user.yml

# macOS
.DS_Store